@charset "utf-8";

/* 최근게시물 스킨 (latest) */
.lt {position:relative;min-height: 1px;padding: 0 10px;}
.lt ul {margin:10px 0 0 ;padding:0;list-style:none}
.lt .lt_title {display:block; margin-bottom: 15px; padding: 0px;border-bottom:1px solid #ccc;}
.lt .lt_title_name {display: table;padding-bottom: 5px;border-bottom: 2px solid black;font-size: 16px;font-weight: 500;}
.lt .lt_more {position:absolute;top:7px;right:25px}
.lt .lt_content {margin-bottom: 15px;}
.lt .lt_list {padding: 0px;margin: 0px;}
.lt .lt_cmt {color: red;font-weight: 700;}
.lt .cnt_cmt {display:inline-block;margin:0 5px 0 3px;}
.lt .lt_info{position: absolute;right:15px}
.lt .profile_img img{border-radius:50%;vertical-align:top}
.lt .lt_tit{font-size: 14px;}
.lt li .fa-download{width:16px;height:16px;line-height:16px;background:#ecaa30;color:#fff;text-align:center;font-size:10px;border-radius:2px}
.lt li .fa-link{width:16px;height:16px;line-height:16px;background:#2aa974;color:#fff;text-align:center;font-size:10px;border-radius:2px}
.lt li .fa-heart{color:#ff0000;}
.lt li .new_icon{display:inline-block;padding: 0 3px;line-height:16px ;font-size:0.833em;color:#fff;background:#c56bed}
.lt .lt_tit .fa-heart{color: #fe4560;}
.lt .lt_date{color: #888;}
.lt .comment_icon{background:url(./img/icon_comment.png) no-repeat 50% 50% ;display:inline-block;width:20px;height:28px;text-indent:-999px;overflow:hidden;vertical-align:top;background-size:70%;margin:0 0px 0 5px}
.lt .empty_li{text-align:center;padding:40px 0;color:#777}
